<a href="https://colab.research.google.com/github/KishorAlagappan/MongoDB-Task/blob/main/DataPreprocessing_Assignment_11_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Data.csv

**Step 1: Importing the libraries**

In [65]:
import pandas as pd 
import numpy as np
from sklearn.preprocessing import StandardScaler 
from sklearn.model_selection import train_test_split 
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

**Step 2: Importing dataset**

In [66]:
dataset =  pd.read_csv('/content/Data.csv')

In [67]:
dataset.head()

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes

**Step 3: Handling the missing data**

In [68]:
dataset.isna().sum()

Country      0
Age          1
Salary       1
Purchased    0
dtype: int64

In [70]:
dataset['Age'] = dataset['Age'].fillna(dataset['Age'].mean())
dataset['Salary'] = dataset['Salary'].fillna(dataset['Salary'].mean())
dataset

   Country        Age        Salary Purchased
0   France  44.000000  72000.000000        No
1    Spain  27.000000  48000.000000       Yes
2  Germany  30.000000  54000.000000        No
3    Spain  38.000000  61000.000000        No
4  Germany  40.000000  63777.777778       Yes
5   France  35.000000  58000.000000       Yes
6    Spain  38.777778  52000.000000        No
7   France  48.000000  79000.000000       Yes
8  Germany  50.000000  83000.000000        No
9   France  37.000000  67000.000000       Yes

**Step 4: Encoding categorical data**

In [71]:
dataset.dtypes

Country       object
Age          float64
Salary       float64
Purchased     object
dtype: object

In [72]:
lab = LabelEncoder() 
for col in dataset.columns:
  if dataset[col].dtypes == object:
    dataset[col] = lab.fit_transform(dataset[col])

In [73]:
dataset.head()

   Country   Age        Salary  Purchased
0        0  44.0  72000.000000          0
1        2  27.0  48000.000000          1
2        1  30.0  54000.000000          0
3        2  38.0  61000.000000          0
4        1  40.0  63777.777778          1

**Step 5: Creating a dummy variable**

In [74]:
dataset = pd.get_dummies(dataset,columns=['Country','Purchased'])

In [76]:
dataset.head()

,Age,Salary,Country_0,Country_1,Country_2,Purchased_0,Purchased_1
0,44.0,72000.000000,1,0,0,1,0
1,27.0,48000.000000,0,0,1,0,1
2,30.0,54000.000000,0,1,0,1,0
3,38.0,61000.000000,0,0,1,1,0
4,40.0,63777.777778,0,1,0,0,1

**Step 6: Splitting the datasets into training sets and Test sets**

In [77]:
from sklearn.model_selection import train_test_split

In [78]:
X = dataset.drop(columns=['Salary'])
Y = dataset['Salary']

In [79]:
x_train,x_test,y_train,y_test = train_test_split(X,Y,test_size=0.2,random_state=10)

**Step 7: Feature Scaling**

In [82]:
from sklearn.preprocessing import StandardScaler

In [83]:
scaler = StandardScaler()
x_train = scaler.fit_transform(x_train)
x_test = scaler.transform(x_test)

In [84]:
x_train

array([[-0.59788085,  1.        , -0.37796447, -0.77459667, -0.77459667,
         0.77459667],
       [ 0.05261351, -1.        , -0.37796447,  1.29099445,  1.29099445,
        -1.29099445],
       [-0.0813118 , -1.        , -0.37796447,  1.29099445,  1.29099445,
        -1.29099445],
       [-1.97539832, -1.        , -0.37796447,  1.29099445, -0.77459667,
         0.77459667],
       [ 0.95182631,  1.        , -0.37796447, -0.77459667,  1.29099445,
        -1.29099445],
       [ 1.64058505,  1.        , -0.37796447, -0.77459667, -0.77459667,
         0.77459667],
       [ 0.26306757, -1.        ,  2.64575131, -0.77459667, -0.77459667,
         0.77459667],
       [-0.25350148,  1.        , -0.37796447, -0.77459667, -0.77459667,
         0.77459667]])

In [85]:
x_test

array([[ 1.98496442, -1.        ,  2.64575131, -0.77459667,  1.29099445,
        -1.29099445],
       [-1.45882927, -1.        ,  2.64575131, -0.77459667,  1.29099445,
        -1.29099445]])